<div class="accordion" id="accordion2">
	<div class="accordion-heading">
		<a class="btn pull-right accordion-toggle" data-parent="#accordion2"
			data-toggle="collapse" href="#editSettings" type="button"><i
			class="icon-cog"></i> Edit</a>
	</div>
	<div id="editSettings" class="accordion-body collapse">
		<div class="accordion-inner">

			<div class="row">

				<div class="span6 offset3 thumbnail configuration-container">
					<form class="form-horizontal" action='' method="POST">
						<fieldset>
							<div id="legend">
								<legend> Edit</legend>
							</div>
							<div class="alert alert-info text-center" ng-hide="isHidden">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								An operation to apply your settings has been created.

							</div>
							<div class="control-group">
								<!-- Username -->
								<label class="control-label">{{data[0].data[0].data[4].label}}</label>
								<div class="controls">
									<input type="text" ng-model="openingThreshold"
										ng-change="isDisabled=false" class="input-large">
								</div>
							</div>
							<div class="control-group">
								<!-- Username -->
								<label class="control-label">{{data[0].data[0].data[5].label}}</label>
								<div class="controls">
									<input type="text" ng-model="closingThreshold"
										ng-change="isDisabled=false" class="input-large">
								</div>
							</div>
							<div class="control-group">
								<!-- Username -->
								<label class="control-label">{{data[0].data[0].data[6].label}}</label>
								<div class="controls">
									<input type="text" ng-model="sendDataPeriod"
										ng-change="isDisabled=false" class="input-large">
								</div>
							</div>

							<div class="control-group">
								<!-- Button -->
								<div class="controls">
									<button ng-click="save()" class="btn btn-success"
										ng-disabled="isDisabled">Save</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>





		</div>
	</div>
</div>

<div class="row clearfix data-container text-center">
	<div class="span3 data-display" ng-repeat="d in data[0].data[0].data">


		<div class="inline-block">
			<div ng-switch="d.id">
				<i ng-switch-when="greenhouse.data.temperature"
					class="wf-icon-temperature"></i> <i
					ng-switch-when="greenhouse.data.luminosity"
					class="wf-icon-luminosity"></i> <i
					ng-switch-when="greenhouse.data.humidity" class="wf-icon-humidity"></i>
				<i ng-switch-when="greenhouse.data.servo" class="wf-icon-servo"></i>
			</div>
			<h2>{{allData[d.id][0].value && allData[d.id][0].value ||
				'N/A'}}</h2>
		</div>
		<div class="inline-block">{{d.label}}</div>

	</div>

</div>