<div class="navbar navbar-fixed-top" ng-controller="NavigationCtrl">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="http://www.sierrawireless.com/"
				target="_blank"><img src="img/logo.png"></a>
			<div class="row">
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a ng-href="#/home/{{systemUid}}/application/{{applicationUid}}">Home</a></li>
						<li><a ng-href="#/configuration/{{systemUid}}/application/{{applicationUid}}">Configuration</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>